.divVideo {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}

.UploadInput {
    display: flex;
    background-color: rgb(161, 161, 161);
    border-width: 12px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgb(189, 189, 189); 
    width: 640px;
    height: 360px;
    border-radius: 20px;
}

.buttons {
    border-style: none;
    height: 40px;
    border-radius: 12px;
    background-color: rgb(2, 120, 224);
    color: white;
    font-weight: 600;
}