main {
    display: flex;
    margin: 0 auto;
    background-size: cover;
    min-height: 20vh;
    align-items: center;
    justify-content: center;
  }

  .divVideo {
    margin-top: 120px;
   align-items: center;
   margin-bottom: 80px;
  }